h1 {
    color: rgb(237, 233, 252);
    font-weight: bold;
    text-shadow: 15px;
    text-shadow: rgb(54, 102, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 50PX;    
    text-align: center;
    align-content: center;
}
h2 {
    display: block;
    color: black; 
    font-weight: bold;
    font-size: 20PX; 
    text-align: center; 
        

}

p {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

h3 {
    color: red;
    font-size: 25PX;
    text-align: center;
    vertical-align: middle;   
}

span {
    background-color: green;
    border-radius: 10px;
    border-color: rgb(255, 115, 0);
    border-width: 1px;
    padding: 5px;
    
}



#myfooter p {

    color:blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20PX;
    text-align: right;
    font-weight: 5px;
    

}

li {
    font-size: 40px;
    color: green;
    font-style: bold;


}


.responsive-image {
    width: 100%;   /* The image will take 100% of its container's width */
    height: auto;  /* Maintains the aspect ratio */
    max-width: 100%; /* Ensures the image doesn’t grow beyond its original size */
    display: block; /* Removes unwanted space below the image */
    border-radius: 200px;
    border-width: 15px;
    border-color: black;

  }
  
  @media (min-width: 768px) {
    .responsive-image {
      max-width: 100%; /* On larger screens, the image will take only 50% of the container’s width */
    }
  }s


  /* For mobiles phones:   */
  [class*=col-] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  /* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}