h1 {
    color: rgb(237, 233, 252);
    font-weight: bold;
    text-shadow: 15px;
    text-shadow: rgb(54, 102, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 50PX;    
    text-align: center;
    align-content: center;
}
h2 {
    display: block;
    color: black; 
    font-weight: bold;
    font-size: 20PX; 
    text-align: center; 
    vertical-align: middle;
        

}
h3 {
    color: red;
    font-size: 25PX;
    text-align: center;
    vertical-align: middle;   
}

span {
    background-color: green;
    border-radius: 10px;
    border-color: rgb(255, 115, 0);
    border-width: 1px;
    padding: 5px;
    
}



p {
    color:blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20PX;
    text-align: right;
    font-weight: 5px;
    

}

li {
    font-size: 40px;
    color: green;
    font-style: bold;


}


.responsive-image {
    width: 100%;   /* The image will take 100% of its container's width */
    height: auto;  /* Maintains the aspect ratio */
    max-width: 100%; /* Ensures the image doesn’t grow beyond its original size */
    display: block; /* Removes unwanted space below the image */
    border-radius: 200px;
    border-width: 15px;
    border-color: black;

  }
  
  @media (min-width: 768px) {
    .responsive-image {
      max-width: 100%; /* On larger screens, the image will take only 50% of the container’s width */
    }
  }